.wavesshape {
  position: relative;
  z-index: 1;
}

.banner-area {
  position: relative;
  overflow: hidden;
}

.wavesshape::before {
  bottom: 0px;
  content: "";
  display: block;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  right: 0px;
  top: auto;
  width: 100%;
  z-index: 1;
  background: url(/images/waves-shape.svg) center bottom / cover no-repeat scroll rgba(0, 0, 0, 0);
}